name: Release new main version

on:
  push:
    branches:
      - 'main'
      - 'next'
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

env:
  GITHUB_TOKEN: ${{ secrets.CHANGESET_GH }}

jobs:
  publish-main:
    name: Publish stable from main
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      # - name: Configure git to use PAT
      #   run: |
      #     git remote set-url origin "https://github.com/smfonseca/monorepo-changesets-demo.git"
      #     git config http.https://github.com/.extraheader "AUTHORIZATION: basic $(printf "x-access-token:%s" "$GITHUB_TOKEN" | base64)"

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
            node-version: 22

      - name: Upgrade npm to latest
        run: npm i -g npm@latest

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install dependencies
        run: pnpm i

      - name: Release
        run: node ./scripts/release.mjs

  publish-next:
    name: Publish prerelease from next
    if: github.ref == 'refs/heads/next'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Upgrade npm to v11+
        run: npm i -g npm@latest

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Install dependencies
        run: pnpm install

      - name: Release next
        run: node ./scripts/release-next.mjs



